html{
    scroll-behavior: smooth;
}

body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
}

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
}

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

/* Tablet view */
@media screen and (min-width: 772px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    figure {
        border-radius: 50%;
    }

    figure:last-child {
        grid-column: span 2;
    }
}

/* Large screen view */
@media screen and (min-width: 992px) {
    .grid figure:nth-child(3n) {
        grid-column: span 2;
    }

    figure {
        border-radius: 0;
    }
}

/* Prefers-reduced-motion media query */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/* Prefers-color-scheme (dark mode) media query */
@media (prefers-color-scheme: dark) {
    figure {
        background-color: #333;
        color: #ff0;
        border-color: #000;
    }
}