body {
    background-color: #dedede;
  }
  
  h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
  }
  
  a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  p {
    font-size: 25px;
    font-family: Arial, sans-serif;
  }
  
  img {
    width: 100%;
  }
  
  p {
    text-align: center;
  }
  
  div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
  }
  
  div {
    display: inline-block;
    width: 24%;
    margin: 5px;
    padding: 2px;
  }
  
  main {
    border: 5px #000 solid;
    margin: 10px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  
  @media only screen and (max-width: 771px) {
  
    div {
      display: block; 
      width: 45%; 
      margin: 10px auto; 
    }
  
    img {
      max-height: 30vh; 
    }
  }
  
  @media only screen and (min-width: 772px) and (max-width: 997px) {
   
  }
  
  @media only screen and (min-width: 998px) {
    /* Large Screen View */
  
    div {
      width: 30%; /* Set div width to 30% of viewport */
    }
  }
  
  .label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
  }
  
  .child:hover .label {
    display: block;
  }
  
  .button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
  }
  
  .button:hover {
    background-color: #fff;
  }
  
  footer {
    display: flex;
    justify-content: center;
  }
  
  header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
  }